@import 'bootstrap/dist/css/bootstrap.min.css';
.adduserbtn{
    float: right;
    margin-top: 15px;
    margin-bottom: 10px;
    margin-right: 30px;
}
.icons{
    margin-right: 10px;
}
.detail-card{
    width: 600px;
    height: 300px;
    margin: 40px 20px;
    border-radius: 4px;
    padding: 20px 0;
    box-shadow: 0 1px 16px 0 rgba(0, 0, 0, .2), 
      0 2px 8px 0 rgba(0, 0, 0, .14),
     0 4px 8px -1px rgba(0, 0, 0, .12);
}
.detail-card p{
   text-align: start;
   padding-left: 50px;
}
.table-striped-custom tbody tr:nth-of-type(odd) {
    background-color: #f2f2f2; /* Set your desired background color for odd rows */
  }
  
  .table-striped-custom tbody tr:nth-of-type(even) {
    background-color: #e6e6e6; /* Set your desired background color for even rows */
  }